#back{
    color: silver;
    font-size: 15px;
    background-color: black;
    box-shadow: 5px 5px 40px silver;
    margin-left: 1200px;
    margin-top: -10px;
}

#header{
    width: 900px;
    background-color:silver;
    height: 60px;
    font-weight: bolder;
    padding-top: 10px;
    box-shadow: 10px 25px 40px black;
font-size: 32px;
text-align: center;
color: black;
width:100%;
margin-top: -1px;
}
body{
    background-image: url(background1.png);
    background-size: cover;
    box-shadow: 10px 5px 10px white;
}
canvas{
    background-color: silver;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}